<%= stylesheet_link_tag "new.scss.css" %>

<div class="container d-flex justify-content-center align-items-center">
    <div class="jumbotron vertical-center">
      <h1 class="display-3">Create a Fun-Sized URL</h1>
      <p class="lead">Because small is a good thing when it comes to links... Just copy a link here to shorten it!</p>

<% @url.errors.each do |attr, msg| %>
<%= msg %> on <%= attr %>
<% end %>

<%= form_for @url do |f| %>
<p>
<%= f.label :link, :class => "link_label" %> : <%= f.text_field :originalurl, :class => "linkform" %>
</p>
<p class="submit">
<%= f.hidden_field :random_id, :value => @url.random_id, :class => "result" %>
<%= f.submit "Click to Minify!", :class => "button" %>
<% end %>

</div>
</div>
